<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo daa Forca</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <div class="container">
        <div id="mensagem_feedback" name="mensagem_feedback"></div>

        <div class="top">
            <div>
                <span id="tentativas">{{ tentativas }}/6</span>
                <div class="duvida">
                    <button type="button" id="info-btn">?</button>

                    <div class="info-text">
                        <p>
                            O jogo se baseia em você encontrar a palavra que se localizam dentro dos quadros verdes antes das tentativas acabarem.<br>

                            Quadrados escuros representam que aquela letra já foi encontrada:<br>
                            <img src="" alt="">

                            quadrados verdes com borda representam que aquela letra ainda não foi achada:<br>
                            <img src="" alt="">
                        </p>
                    </div>
                </div>
            </div>

            <div class="titulo">
                <h1>FORCA</h1>
            </div>

            <div id="letrero">
                {% for i in letra_input %}
                <span>{{ i }}</span> <!--Sera posto as letras já enviadas pelo o usuario-->
                {% endfor %}
            </div>
        </div>

        <div class="palavra">
            <!--Aqui esta fazendo uma verificação se a letra ja foi encontrada ou não, evita da palavara aparecer completa ao iniciar o jogo-->
            <div id="palavra-text">
                {% for i in palavra_secreta %}
                    {% if i in letra_input %}
                        <span>{{ i }}</span>
                    {% else %}
                        <span>_</span>
                    {% endif %}
                {% endfor %}
            </div>

            <form action="{{ url_for('submit') }}" method="post" id="form-enviar">
                <input type="text" id="letra_input" name="letra">

                <button type="submit" id="letra-btn" onclick="enviar(event)">ENTER</button>
            </form>
        </div>
    </div>
    
    <script src="/static/js/palavra.js"></script>
    <script src="/static/js/contador.js"></script>
</body>
</html>